body{
	background:linear-gradient(to top, #C2DFFF, #3BB9FF) ;
	background-attachment:fixed;
	text-align: center;
}

#mapcontainer{
	width:850px;
	margin-bottom:30px;
	margin-right: auto;
	margin-left: auto;

}