<!-- Header -->
<div class="intro-header">
    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix"></div>
                    <h1 style="color:black; font-size:56px">Polldentify</h1>
                </div>
                <div class="col-lg-12">
                    <form class="navbar-form" role="search">
                    <div class="input-group" style="color:black">
                        <input id="pac-input" class="controls" type="text" placeholder="Enter Region, City, State" style="margin:auto; width:600px; color:black;"> <!-- input box -->
            <div class="input-group-btn" style="height:24px; width:24px">
                            <button class="btnPage" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
            <!-- input the javascript -->
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">About the Team<br></h2>
                    <p class="lead"><! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
